@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
html{
    --dark-color: #2B2B2B;
    --hanzi-color: crimson;
    --hanzi-light-color: hsl(337, 100%, 95%);
    --pinyin-color: hsl(179, 100%, 65%);
    --pinyin-light-color: hsl(179, 100%, 95%);
    --english-color: teal;
    --english-light-color: hsl(93, 100%, 95%);
    --chinese-font: 'Noto Sans SC';
    --working-font: 'Ubuntu Sans Mono';
    background: hsl(0, 0%, 20%);
    padding: 20px;
}
body{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(125, 123, 123, 0.35) 0px 5px 15px;
    height: calc(5px + 20px + 30px + 220px + 45px + 30px + 25px + 20px);
    background: hsl(0, 0%, 16%);
}
p{
    text-align: center;
    margin: 0;
}
#controls{
    display: flex;
    justify-content: space-around;
    color: var(--english-light-color);
    height: 20px;
    margin-top: 5px;
}
#progress{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#game{
    accent-color: var(--english-color);
}
#start, #end{
    max-width: 100px;
    font-size: 10px;
}
#user{
    max-width: 300px;
    font-size: 15px;
}
#user, #start, #end{
    border-radius: 10px;
    text-align: center;
    font-family: var(--working-font);
    outline: none;
    background: hsl(65, 15%, 45%); 
}
#user::placeholder, #start::placeholder, #end::placeholder{
    font-family: var(--working-font);
    color: rgb(60, 60, 60);
}
#user:focus{
    outline: none;
}
#hanzi{
    color: var(--hanzi-color);
    font-family: var(--chinese-font);
    font-size: 180px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result, #pinyin, #english{
    font-family: var(--working-font);
}
#result{
    color: var(--english-light-color);
    font-size: 15px;
    height: 25px;
}
#pinyin{
    display: flex;
    justify-content: center;
    height: 30px;
}
#english{
    color: var(--english-light-color);
    text-shadow: 1px var(--english-light-color);
    font-size: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pure{
    height: 20px;
}
#toggle{
    opacity: 0;
    width: 0;
    height: 0;
}
#label {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 12px;
    background-color: #ccc;
    border-radius: 6px;
    transition: background-color 0.3s;
}
#label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
#toggle:checked + #label {
    background-color: var(--english-color);
}
#toggle:hover + #label::after{
    background: var(--dark-color);
}
#toggle:checked + #label::after {
    transform: translateX(12px);
}
#play{
    font-family: var(--working-font);
    background: var(--english-light-color);
    color: var(--dark-color);
    border-radius: 5px;
    font-size: 10px;
}
#play:hover{
    background: var(--hanzi-light-color);
}