@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
html{
    --dark-color: #2B2B2B;
    --hanzi-color: crimson;
    --hanzi-light-color: hsl(337, 100%, 95%);
    --pinyin-color: hsl(179, 100%, 65%);
    --pinyin-light-color: hsl(179, 100%, 95%);
    --english-color: chartreuse;
    --english-light-color: hsl(93, 100%, 95%);
    --chinese-font: 'Noto Sans SC';
    --working-font: 'Ubuntu Sans Mono';
    background: #2A2A2A;
    padding: 20px;
}
body{
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(125, 123, 123, 0.35) 0px 5px 15px;
}
p{
    text-align: center;
    margin: 0;
}
#check{
    font-family: var(--working-font);
    color: var(--hanzi-light-color);
    position: relative;
    float: left;
}
#user{
    border-radius: 10px;
    text-align: center;
    font-family: var(--working-font);
    font-size: 20px;
    max-width: 300px;
    outline: none;
    background: hsl(65, 15%, 45%);
    margin: 20px;
}
#user::placeholder{
    font-family: var(--working-font);
    color: rgb(60, 60, 60);
}
#user:focus{
    outline: none;
}
#hanzi{
    color: var(--hanzi-color);
    font-family: var(--chinese-font);
    font-size: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 3px pink;
}
#result, #pinyin, #english{
    font-family: var(--working-font);
}
#result{
    color: var(--english-light-color);
    font-size: 20px;
    height: 25px;
    margin-bottom: 20px;
}
#pinyin{
    display: flex;
    justify-content: center;
}
#english{
    color: var(--english-color);
    font-size: 15px;
    height: 2.5lh;
    margin-top: 10px;
}

@media only screen and (max-width: 400px){
    html{
        padding: 0 20px;
    }
    body{
        margin-top: 20px;
    }
    #hanzi{
        font-size: 150px;
        height: 170px;
    }
    #user{
        font-size: 15px;
        margin: 10px;
    }
    #english{
        font-size: 10px;
        height: 2lh;
    }
}
